h1
{color: #554433;
	 font-family:Verdana;
text-align: center;
font-size:30pt;}


p
{font-size:15pt;
 font-family:Arial;
color: #112233;}

h3{font-size:25pt;
	color: #554433;
font-size:30pt}


{color: #1122FF;}

#red{color:red;}

